// starting from here
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  box-sizing: border-box;
}

body {
  background-color: #c7ecee;
}

#clock {
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;

  .clock-wrapper {
    width: 300px;
    height: 300px;
    background: #c7ecee;
    box-shadow: -24px 24px 49px #b3d4d6, 24px -24px 49px #dbffff;

    // background: #c7ecee;
    // box-shadow: 20px 20px 60px #a9c9ca, -20px -20px 60px #e5ffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
    position: relative;

    // before

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      background-color: #a9c9ca;
      position: absolute;
      z-index: 11;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: #858485;
      border: 2px solid #e3e3e6;
    }

    &::after {
      background-color: #858485;
      border: 2px solid #e3e3e6;
      position: absolute;
      top: 46%;
      left: 46%;
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      z-index: 11;
      content: "";
      animation: pulse 2s infinite;
      -webkit-animation: pulse 2s infinite;
      @keyframes pulse {
        0% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 #faf7f7;
          -webkit-transform: scale(0.95);
          -moz-transform: scale(0.95);
          -ms-transform: scale(0.95);
          -o-transform: scale(0.95);
        }

        70% {
          transform: scale(1.1);
          box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }

        100% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
      }
    }
  }
  .hand {
    position: absolute;
    z-index: 10;
    bottom: 50%;
    left: 50%;
    --rotation: 30;
    transform-origin: bottom;
    transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));
    -webkit-transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));
    -moz-transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));
    -ms-transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));
    -o-transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));
  }
  .second {
    --rotation: 0;
    width: 2px;
    height: 41%;
    background-color: #f18d8d;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .minute {
    --rotation: 360;

    width: 5px;
    height: 39%;
    background-color: #b7bac5;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
  }
  .hour {
    --rotation: 0;
    width: 9px;
    height: 25%;
    background-color: #858485;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
  }

  .number {
    padding: 10px;
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    -webkit-transform: rotate(var(--rotation));
    -moz-transform: rotate(var(--rotation));
    -ms-transform: rotate(var(--rotation));
    -o-transform: rotate(var(--rotation));
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #a9c9ca;
  }
  .number1 {
    --rotation: 30deg;
  }
  .number2 {
    --rotation: 60deg;
  }
  .number3 {
    --rotation: 90deg;
  }
  .number4 {
    --rotation: 120deg;
  }
  .number5 {
    --rotation: 150deg;
  }
  .number6 {
    --rotation: 180deg;
  }
  .number7 {
    --rotation: 210deg;
  }
  .number8 {
    --rotation: 240deg;
  }
  .number9 {
    --rotation: 270deg;
  }
  .number10 {
    --rotation: 300deg;
  }
  .number11 {
    --rotation: 330deg;
  }
  .number12 {
    --rotation: 360deg;
  }
}
